.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  min-height: 300px;
}

.form-label {
  font-size: 14px;
}

.form-input {
  width: 300px;
  padding: 3px;
}

.submit-btn {
  border: none;
  cursor: pointer;
  background-color: #ff2a70;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  padding: 5px 20px;
  width: 80%;
  transition: 200ms ease-in-out;

}

.submit-btn:hover {
  background-color: #bb1f53;
}
